
[Unit]
Description=gitupdatesnpbak
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
ExecStart=/home/pi/.nvm/versions/node/v8.1.3/bin/node /home/pi/gitupdater/snpcodebak/checkgit.js
# Required on some systems
WorkingDirectory= /home/pi/gitupdater/snpcodebak/
Restart=always
 # Restart service after 600 seconds if node service crashes
RestartSec=600
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gitupdatersnpbak
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target

